<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsp="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsp:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	

	<!-- 用户登陆 start -->
	<bean id="userLoginDao"
		class="com.nasoft.sysmanage.persistence.sqlmapdao.UserLoginDaoImpl">
		<property name="sqlMapClient">
			<ref bean="sqlMapClient" />
		</property>
	</bean>

	<bean id="userService" class="com.nasoft.sysmanage.service.impl.UserServiceImpl">
		<property name="dao" ref="userLoginDao" />
	</bean>

	<!--bean id="userServices" parent="txProxyTemplate">  
	        <property name="target" ref="userService">  
	        </property>  
	</bean-->  


	<bean name="userlogin" class="com.nasoft.sysmanage.struts.action.UserLoginAction">
		<constructor-arg index="0" ref="userService"></constructor-arg>
	</bean>
	<!-- 用户登陆 end -->




	<!-- 单位管理 start -->
	<bean name="companyManage"
		class="com.nasoft.sysmanage.struts.action.CompanyManageAction">

		<property name="companyManageService" ref="companyManageService" />
	</bean>

	<bean name="companyManageService"
		class="com.nasoft.sysmanage.service.impl.CompanyManageServiceImpl">
		<property name="companyManageDao" ref="companyManageDao" />
	</bean>

	<!--bean id="companyManageServices" parent="txProxyTemplate">  
	        <property name="target" ref="companyManageService">  
	        </property>  
	</bean-->  
	<bean name="companyManageDao"
		class="com.nasoft.sysmanage.persistence.sqlmapdao.CompanyManageDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<!-- 单位管理 end -->



	<!-- 部门管理 start -->
	<bean name="orgManage" class="com.nasoft.sysmanage.struts.action.OrgManageAction">

		<property name="orgManageService" ref="orgManageService" />
	</bean>

	<bean name="orgManageService"
		class="com.nasoft.sysmanage.service.impl.OrgManageServiceImpl">
		<property name="orgManageDao" ref="orgManageDao" />
	</bean>

	<!--bean id="orgManageServices" parent="txProxyTemplate">  
	        <property name="target" ref="orgManageService">  
	        </property>  
	</bean-->  
	<bean name="orgManageDao"
		class="com.nasoft.sysmanage.persistence.sqlmapdao.OrgManageDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<!-- 部门管理 end -->

	<!-- 职位管理 start -->
	<bean name="positionManage"
		class="com.nasoft.sysmanage.struts.action.PositionManageAction">
		<constructor-arg index="0" ref="positionManageService"></constructor-arg>
	</bean>
	<bean name="positionManageService"
		class="com.nasoft.sysmanage.service.impl.PositionManageServiceImpl">
		<property name="positionManageDao" ref="positionManageDao" />
	</bean>

	<!-- bean id="positionManageServices" parent="txProxyTemplate">  
	        <property name="target" ref="positionManageService">  
	        </property>  
	</bean-->  
	<bean name="positionManageDao"
		class="com.nasoft.sysmanage.persistence.sqlmapdao.PositionManageDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<!-- 职位管理 end -->



	<!-- 角色管理 start -->
	<bean name="roleManage" class="com.nasoft.sysmanage.struts.action.RoleManageAction">
		<property name="roleManageService" ref="roleManageService" />
	</bean>

	<bean name="roleManageService"
		class="com.nasoft.sysmanage.service.impl.RoleManageServiceImpl">
		<property name="roleManageDao" ref="roleManageDao" />
	</bean>

	<!--bean id="roleManageServices" parent="txProxyTemplate">  
	    <property name="target" ref="roleManageService">  
	        </property>  
	</bean-->  
	<bean name="roleManageDao"
		class="com.nasoft.sysmanage.persistence.sqlmapdao.RoleManageDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<!-- 角色管理 end -->

	<!-- 菜单管理 start -->
	<bean name="menuMaintenance" class="com.nasoft.sysmanage.struts.action.MenuManageAction">
		<property name="menuManageService" ref="menuManageService" />
	</bean>

	<bean name="menuManageService"
		class="com.nasoft.sysmanage.service.impl.MenuManageServiceImpl">
		<property name="menuManageDao" ref="menuManageDao" />
	</bean>

	<!--bean id="menuManageServices" parent="txProxyTemplate">  
	        <property name="target" ref="menuManageService">  
	        </property>  
	</bean-->  
	<bean name="menuManageDao"
		class="com.nasoft.sysmanage.persistence.sqlmapdao.MenuManageDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<!-- 菜单管理 end -->

	<!-- 用户管理 start -->
	<bean name="userManage" class="com.nasoft.sysmanage.struts.action.UserManageAction">
		<property name="userManageService" ref="userManageService" />
		<property name="positionManageService" ref="positionManageService" />
	</bean>

	<bean name="userManageService"
		class="com.nasoft.sysmanage.service.impl.UserManageServiceImpl">
		<property name="userManageDao" ref="userManageDao" />
	</bean>

	<!--bean id="userManageServices" parent="txProxyTemplate">  
	        <property name="target" ref="userManageService">  
	        </property>  
	</bean-->  
	<bean name="userManageDao"
		class="com.nasoft.sysmanage.persistence.sqlmapdao.UserManageDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>


	<!-- 用户管理 end -->

	<!-- 重置用户密码 start -->
	<bean name="userResetPwd" class="com.nasoft.sysmanage.struts.action.UserResetPwdAction">
		<property name="userResetPwdService" ref="userResetPwdService" />
	</bean>

	<bean name="userResetPwdService"
		class="com.nasoft.sysmanage.service.impl.UserResetPwdServiceImpl">
		<property name="userResetPwdDao" ref="userResetPwdDao" />
	</bean>

	<!--bean id="userResetPwdServices" parent="txProxyTemplate">  
	        <property name="target" ref="userResetPwdService">  
	        </property>  
	</bean-->  
	<bean name="userResetPwdDao"
		class="com.nasoft.sysmanage.persistence.sqlmapdao.UserResetPwdDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<!-- 重置用户密码 end -->
	
</beans>