@CHARSET "UTF-8";
/*body 体定义*/
.ball_bk{ 
    background-image: url(/images/di2.JPG);
	background-repeat:repeat;
	background-position: left top;
	FONT-SIZE: 13pt; 
	COLOR: #000000; 
	LINE-HEIGHT: 110%; 
	FONT-FAMILY: "宋体","Arial"
}
h4 {
	  font-size:12px;font-weight:normal;border-bottom:0px solid #ccc;
	  padding-left:5px;color:blue;
	  background:url(../images/h4.gif) left bottom no-repeat;
	  margin:3px;margin-bottom:2px;
	  margin-top:2px;
	}
/*字体颜色*/
td2 {  
	font-size: 12pt; 
	color: #333399
}

/*标题字体定义*/
.tou { 
	font-size: 11pt; 
	color: black; 
	font-weight:bold
}

/*普通字体定义*/
.tda { 
	font-size: 9pt; 
	color: #000000
}

/*链接的定义*/
A:link {color:#00007f;}
A:visited {color:#65038e;}
A:active {color:#ff0000;}
A:hover {
	BORDER-RIGHT: #000000 2px solid; 
	BORDER-TOP: #d0ecff 2px solid; 
	BORDER-LEFT: #d0ecff 2px solid; 
	COLOR: #ffff00; 
	BORDER-BOTTOM: #000000 2px solid; 
	BACKGROUND-COLOR: #0099ff
}

/*单元格定义*/
.my_td {  
	font-size:12px;
	line-height:25px;
	background:#E7F8FE
}

 /*表标题行*/
.my_tr1{ 
	height: 24px;
	background-image: url(../images/headerbg.gif);
	background-repeat: repeat-x;
}

/*表数据行*/
.my_tr2{ 
	height:25px;
	background:#DCEFFF;
	background-image: url(../images/hd_row_over_bg.gif);
}

/*表字段名称行定义*/
.my_title{ 
	height:22px;
	background:#9FD1C3 ;
	background-image: url(../images/hd_row_over_bg.gif);
}

/*表*/
.my_table {
	BACKGROUND-COLOR: #000000;
	FONT-WEIGHT: normal; 
	FONT-SIZE: 9pt; 
	LINE-HEIGHT: 160%; font-sytle: "normal"
}

.my_table2 {
	BACKGROUND-COLOR: #E3ECEA;
	FONT-WEIGHT: normal; 
	FONT-SIZE: 9pt; 
	LINE-HEIGHT: 160%; font-sytle: "normal"
}

/*背景色和滚动条设置*/
BODY {	
	font-size:12px;
	padding:0;
	margin:43;
	font-family: "宋体";
	line-height:180%; 
    /*background:#f1fcec url(../images/bodybg.gif) repeat-x ;*/
}
/*按钮设置，3种,buttonBgsmall是最小的只能放两个字*/
.buttonbg {
	background:url(../images/submit-searchbg.gif) repeat-x;
	height:20px;
	border:0;
	text-align:center;
	padding:2px 5px 0px 5px;
	border:solid 1px #86B2D1;
}
.buttonbgbf {
	font-size: 12px;
	background-image:  url(../images/buttonbgtwo.gif);
	background-repeat: no-repeat;
	height: 20px;
	width: 43px;
	padding-top: 2px;
	border: none;
	cursor: hand;
	background-color: transparent;
}
.buttonBgfour {
	background:url(../images/submit-searchbg.gif) repeat-x;
	height:20px;
	border:0;
	text-align:center;
	padding:2px 5px 0px 5px;
	border:solid 1px #86B2D1;
}
.buttonBgfourbf {
	font-size: 12px;
	background-image:  url(../images/buttonbgfour.gif);
	background-repeat: no-repeat;
	height: 20px;
	width: 83px;
	padding-top: 2px;
	border: none;
	cursor: hand;
	background-color: transparent;
}
.buttonBgsix {
	font-size: 12px;
	background-image:  url(../images/buttonbgsix.gif);
	background-repeat: no-repeat;
	height: 20px;
	width: 114px;
	padding-top: 2px;
	border: none;
	cursor: hand;
	background-color: transparent;
}
.buttonBgeight {
	background:url(../images/submit-searchbg.gif) repeat-x;
	height:20px;
	border:0;
	text-align:center;
	padding:2px 5px 0px 5px;
	border:solid 1px #86B2D1;
}
.buttonBgeightbf {
	font-size: 12px;
	background-image:  url(../images/buttonbgeight.gif);
	background-repeat: no-repeat;
	height: 20px;
	width: 120px;
	padding-top: 2px;
	border: none;
	cursor: hand;
	background-color:transparent;
	
}
.blankBg {
	background-image: url(../images/blankbg.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-color:#FFFFFF;
}