<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsp="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsp:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	<!-- 基本信息管理 start -->
	<!--bean name="baseInfoManage" class="com.nasoft.baseinfo.struts.action.BaseInfoAction">
		<property name="baseInfoService" ref="baseInfoService" />
		<property name="reportService" ref="reportService" />
	</bean-->

	<bean name="baseInfoService"
		class="com.nasoft.baseinfo.service.impl.BaseInfoServiceImpl">
		<property name="baseInfoDao" ref="baseInfoDao" />
	</bean>

	<!--bean id="baseInfoServices" parent="txProxyTemplate">  
		<property name="target" ref="baseInfoService"></property>  
	</bean-->
	<bean name="baseInfoDao"
		class="com.nasoft.baseinfo.persistence.sqlmapdao.BaseInfoDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<!-- 基本信息管理 end -->
</beans>