@charset "utf-8";

body {
	font-size:12px;
	padding:0;
	margin:0;
	font-family: "宋体";
	line-height:180%; 
    background:#f1fcec url(../images/body-bg.gif) repeat-x top 130px;
	
}
ul{
	margin: 0px;
	padding: 0px;
	list-style-image: none;
	list-style-type: none;
}
a {
	font-size:12px;
	color:#000;
	text-decoration: none;
}

td { line-height:180%;}

.input-login {width:180px; height:19px; border:solid 1px #A4A7C9;padding-top:3px;}
.submit-login {width:89px;height:30px; background:url(../images/submit-bg.gif) no-repeat;text-align:center;font-size:14px;border:0;}
img {
	border:0;
	text-decoration: underline;
}
.right {text-align:right;}
.center {text-align:center;}

/* 链接颜色 */
.a-blue a{color:#0F0893;text-decoration:underline}
/* 链接颜色 end */
/* 文字大小属性 */
.size14 {font-size:14px;}
.size12 {font-size:12px;}
/* 文字大小属性 end */
/* 颜色属性 [定义规则，小写c加颜色名称] */
.Cred {color:#F00;}
.Cwhite {color:#f1fcec;}
.bold {	font-weight: bold;}
.normal {	font-weight: normal;}

/* 颜色属性 [定义规则，小写c加颜色名称] end */

/* 按钮 */
.submit-blue1 {
	background:url(../images/submit-searchbg.gif) repeat-x;
	height:20px;
	border:0;
	text-align:center;
	padding:2px 5px 0px 5px;
	border:solid 1px #86B2D1;
	
}
.submit-blue2 { background:url(../images/submit-bluebg.gif) repeat-x; height:19px;border:solid 1px #86B2D1; text-align:center;padding:0px 3px;}
.submit-sub {background:url(../images/submit-sub.gif) no-repeat;text-align:center;color:#fff;width:123px;height:38px;border:0;font-size:14px;font-weight: bold;}
.submit-gray { 
	color: #000000;
	background-color: #E6E6E6;
	border: 1px solid #999999;
	height: 20px;
	padding:1px 1px;
	
}

/* 按钮 end */
/* 表单 */
.input-visited {
	background-color: #F1F1F1;
	border: 1px solid #C0C0C0;
	
}
input {		
	padding:1px 0px 0px 3px;
	height:20px;
}
.input-list input{border:solid 1px #666; border-width:0px 0px 1px 0px;width:70px; background:#DCEFFF; text-align:center;}
.input-list .big {width:150px;}
textarea {padding:5px 0px 0px 5px;}
.textarea-most {width:250px;height:60px; background:#F7F9F9;border:solid 1px #84A1BD;}
.textarea-big {width:500px;height:100px; background:#F1F5F6;border:solid 1px #84A1BD;}
.textarea-visited{width:250px;height:60px; background-color: #F1F1F1;border: 1px solid #C0C0C0;}
.input-most {width:180px;border: 1px solid #84A1BD;background-color: #F7F9F9;color:#B0B0B0;}
.input-white1 { background:#fff; border:0; width:180px;height:16px;padding:2px 0px 0px 5px; }
.input-white2 { background:#fff; border:0; width:100px;height:18px; }
/* 表单 end */
#top{ height:78px;padding:0px;text-align:right;width:100%; }
.top1-bg{ background:url(../images/top1-bg.gif) no-repeat left top;}
.top2-bg{ background:url(../images/top2-bg.gif) no-repeat left top;}
.top3-bg{ background:url(../images/top3-bg.gif) no-repeat left top;}
#top a {color:#fff;}
#top .img {margin:5px 5px 0px 0px;}
#top .name {margin-bottom:15px; padding-right:20px;}
#top .sub {
	line-height: -1pt;
}
#top .sub span { margin-right:20px;height:18px;padding-left:15px;}
#top .sub .s1 { background:url(../images/subpic1.gif) no-repeat left top;padding-left:20px;}
#top .sub .s2 { background:url(../images/subpic2.gif) no-repeat left top;}
#top .sub .s3 { background:url(../images/subpic3.gif) no-repeat left top;padding-left:20px;}
#top .sub .s4 { background:url(../images/subpic4.gif) no-repeat left top;}
#top .sub a {color:#fff;padding-bottom:3px;}
#menu { background:url(../images/menu-bg.gif) repeat-x;height:27px;padding:5px 0 0;padding-left:10px;}
#menu a{color:#fff;padding:0px 15px; background:url(../images/line-bg.gif) no-repeat right;margin-right:5px;}
#menu a:hover{color:#fff;}


/*leftmenu*/
.sec_menu,.sec_menu1{
	background-color:#F6F7FC;padding:5px 0px;
}
.sec_menu li,.sec_menu1 li {text-align:left;background:url(../images/i7.gif) no-repeat 10px 8px;}
.sec_menu a,.sec_menu1 a {color:#545655; padding-left:25px; display:block;width:135px;}
.sec_menu a:hover,.sec_menu1 a:hover { background:#DEE6F3;}



.left-menu a:hover{
	text-decoration: underline;
}
.left-menu .Current {color:#00F;}

/*leftmenu end*/
.leftmenu-title {
	font-size: 14px;
	font-weight: bold;
	color: #030E17;
	background: url(../images/leftmenu-bg.gif) no-repeat;
	height: 24px;
	width: 131px;
	padding:12px 0px 0px 40px;
}
.clear {
	font-size: 0px;
	line-height: 0px;
	clear: both;
	height: 0px;
}
.menu_title {
	background-image: url(../images/left-menuout.gif);
	background-repeat: repeat-x;
	height: 21px;
	display:block;
	padding: 4px 0px 0px 20px;
	border-bottom:solid 1px #C2CCD5;
	color:#264389;
} 
.menu_title2{
	background-image: url(../images/left-menuover.gif);
	background-repeat: repeat-x;
	height: 21px;
	display:block;
	padding: 4px 0px 0px 20px;
	border-bottom:solid 1px #C2CCD5;
	color:#000;
} 
/* 弹出窗口 */
#inquire,#list{width:99%;margin:10px auto;border:solid 1px #44588A;padding:0; background:#fff;}
#inquire a,#list a{color:#00f;}
#inquire .con .submit ,#list .submit {padding:10px 0px 0px 0px;}
#inquire .con {
	padding: 10px;
	background:#EEF5FD;
}


#inquire {border-color:#788A98;}
#list {border:0;}
#inquire .title{height:25px;padding:0px 5px 0px 5px;}
#inquire .title {
	color:#000;
	background: #EEF5FD url(../images/title1-bg.gif) no-repeat;
	font-weight: bold;	
}
#list .title {
	background:#f1fcec url(../images/title2-bg.gif) repeat-x top;
	background-repeat: repeat-x;
	border:solid 1px #758795;
	border-bottom:0px;
	height:23px;
}
#list .submit{border:solid 1px #758795;border-top:0px; padding:5px 1px 3px 10px;}
#list .bottombg{ background:url(../images/list-bottombg.gif) repeat-x bottom;}
#inquire .submit  {padding:10px 0px; text-align:center;}
#way {
	width:85%;
	margin:0px auto;
	background:url(../images/way-bg.gif) repeat-x;
	height:28px;
	border:solid 1px #86B2D1;
	margin-top:10px;
	text-indent: 2ex;
}
#list .topbg{
	background: url(../images/list-topbg.gif) repeat-x;
	text-align:right;
	border:solid 1px #7D8F9D;
	border-bottom:0;
	padding-right:10px;
	padding-top:4px;
}
#list .number-bg {background:#EEF5FD;}
/*表格背景*/
 .bg1{ background:#fff;}
 .bg2{ background:#EEF5FD;}
 .bg3 { background:#DCEFFF;}
/*表格背景 end*/
/* 弹出窗口 end */


.entries {
	width:100%;
	margin:10px auto;
	margin-top:5px;
	position: relative;
	
	}
.entries li {
	float:left;
	height:20px;
	padding:5px 0px 3px 0px;
	margin-bottom:30px;
	background:#F2F2F2;
}
.entries li div {
	background-color: #C3E1FF;
	border: dotted 1px #355371;
	padding: 2px 10px;
	position: absolute;
	height: 16px;
	top: 29px;
}
.entries li div a {margin-right:15px;color:#000;font-size:12px; text-decoration:none;}

.scroll{
	scrollbar-3dlight-color: #065295; 
scrollbar-arrow-color:  #1948B4; 
scrollbar-darkshadow-color: #1948B4; 
scrollbar-face-color: #5CA5F0; 
scrollbar-highlight-color: #DAE6FF; 
scrollbar-shadow-color: #DAE6FF; 
scrollbar-track-color: #FFFFFF; 

 	height: 150px;
	overflow: scroll;
	overflow-x:hidden;
	padding:10px;
} 
.scroll td{
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #EAEAEA;
}
.main-title {
	font-size: 14px;
	font-weight: bold;
	color: #E20000;
	text-align: center;
	margin-top:15px;
}
.tab-padding td {

	height:25px;
	padding:3px 5px 0px 5px;
}
.margin-b20{ margin-bottom:20px;}
.margin-b10{ margin-bottom:10px;}