body,td {margin:0px;font-size:12px;}
.left_bottom{background:#fff url(../images/left_bottom1.jpg) bottom no-repeat;}


.left {font-size:14px;}
.palce {
	font-family: "宋体";
	font-size: 12px;
	color: #0066CC;
	letter-spacing: 2px;
}

/*表*/
.my_table {
	BACKGROUND-COLOR: #000000;
	FONT-WEIGHT: normal; 
	FONT-SIZE: 9pt; 
	LINE-HEIGHT: 160%; font-sytle: "normal"
}

.search{background-color:#fff;}
.main{margin-top:10px;margin-bottom:22px;}

.cursor {
	CURSOR: hand;
}

a{color:#06c;text-decoration:none;}
a:hover{color:#f00;}


//input {height:19px;}

table.list caption{padding-top:10px;padding-bottom:8px;font-weight:bold;}
TABLE.list
{
	border:0px solid #9c9ca9;
    width:100%;
    height:100%;
    BACKGROUND-COLOR: #9c9ca9;
    border-color-dark:#DEDEDE;
    border-color-light:#DEDEDE;
    cell-padding:1;
    cell-spacing:1;
    BORDER-LEFT: 0px solid #fff;
	BORDER-RIGHT: 0px solid #fff;
    BORDER-BOTTOM: 0px solid #fff;
    BORDER-TOP: 0px solid #fff;
}
TABLE.list TH
{
     padding:2px;
    white-space:nowrap;
    BACKGROUND-COLOR: #C6D7EF;
    BORDER-TOP: 0px solid #279;
    BORDER-LEFT: 0px solid #279;
    BORDER-RIGHT: 0px solid #279;
    BORDER-BOTTOM: 0px solid #279;
    FONT-SIZE: 12px;  
	font-weight:normal;
}

 /*表标题行*/
.my_tr1{ 
	height: 25px;
	background: url(../images/hd_row_over_bg.gif);
}
/*表数据行*/
.my_tr2{ 
	height:25px;
	background:#DCEFFF;
	background-image: url(../images/hd_row_over_bg.gif);
}

TABLE.list TD
{
	height:15px;
    padding:2px;
    background-color:#ffffff;
    BORDER-TOP: #cedfff 0px solid;
    BORDER-LEFT: #cedfff 0px solid;
    BORDER-RIGHT: #cedfff 0px solid;
    BORDER-BOTTOM: #cedfff 0px solid;
}

TABLE.list td a {color:#06c;}
TABLE.list td a:hover{color:#f00;}

.list a{color:#000;}

table.list1 caption{font-weight:normal;color:#fff;
				  background-color:#4378cb;
					background-image:url(../images/bg3.gif);
					background-repeat:no-repeat;
					font-size:12px;
					padding:4px;letter-spacing:1px;
					text-align:left;padding-left:10px;
					}
TABLE.list1
{
    width:100%;
    background-color:#e3e2ff;
    
}

TABLE.list1 TH
{
    text-align:right;

    padding:2px;
	padding-right:15;
    white-space:nowrap;
    FONT-SIZE: 12px;   
	font-weight:normal;
	background-color:#C3EAFC;
	border-bottom:1px solid #fff;
	
}


TABLE.list1 TD
{
    padding:2px;
	  font-size:12px;
	  background-color:#E1F5FE;
	  border-bottom:1px solid #fff;

}

.tr1 {background:#E1F5FE;}
.tr2 {background:#C3EAFC;}
.tr3 {background:#FBFDE9;}

.bt1 {
background:transparent url(../images/bt1.gif) repeat;
border:1px solid #3986D9;height:18px;cursor:hand;margin:3px;color:#000066;}
.bt1_on{
background-color:#E1F5FE;height:18px;cursor:hand;
border-left:1px solid #39C3D9;border:1px solid #39C3D9;margin:3px;color:#000066;}
.gt-input-button {
	vertical-align:middle;
	line-height:18px;
	height:21px;
	border:1px solid #336699;
	background : url(../images/input_button_bg.gif) repeat;
}
.bt1_old{
width:46px;
background:transparent url(../images/bt1_old.gif) repeat;height:22px;cursor:hand;
border-left:0px solid #39C3D9;border:0px solid #39C3D9;margin:5px;color:#000066;}

.bt2 {
width:92px;
background:transparent url(../images/bt2.gif);
border:0px solid #3986D9;height:22px;cursor:hand;margin:5px;color:#000066;}
.bt2_on{
width:92px;
background:transparent url(../images/bt2_on.gif) repeat;height:22px;cursor:hand;
border-left:0px solid #39C3D9;border:0px solid #39C3D9;margin:5px;color:#000066;}

.bt3 {
width:129px;
background:transparent url(../images/bt3.gif);
border:0px solid #3986D9;height:22px;cursor:hand;margin:5px;color:#000066;}
.bt3_on{
width:128px;
background:transparent url(../images/bt3_on.gif) repeat;height:22px;cursor:hand;
border-left:0px solid #39C3D9;border:0px solid #39C3D9;margin:5px;color:#000066;}

.bt4{
width:153px;
background:transparent url(../images/bt4.gif);
border:0px solid #3986D9;height:22px;cursor:hand;margin:5px;color:#000066;}
.bt4_on{
width:153 px;
background:transparent url(../images/bt4_on.gif) repeat;height:22px;cursor:hand;
border-left:0px solid #39C3D9;border:0px solid #39C3D9;margin:5px;color:#000066;}

.bt11 {
background:transparent url(../images/bt1.gif) repeat;
border:1px solid #3986D9;height:22px;cursor:hand;margin:5px;color:#000066;}
.bt11_on{
background-color:#E1F5FE;height:22px;cursor:hand;
border-left:1px solid #39C3D9;border:1px solid #39C3D9;margin:5px;color:#000066;}



.page {margin:5px;}
.red {color:#f00;}

h3 {
	  font-size:12px;font-weight:normal;border-bottom:0px solid #ccc;
	  padding-left:15px;color:blue;
	  margin:0px;margin-bottom:5px;
	  margin-top:5px;
	}
h4 {
	  font-size:12px;font-weight:normal;border-bottom:0px solid #ccc;
	  padding-left:5px;color:blue;
	  background:url(../images/h4.gif) left bottom no-repeat;
	  margin:3px;margin-bottom:2px;
	  margin-top:2px;
	}
	
body.pop {margin:8px;}

.mnote{width:690px;height:200px;background:url('../images/mnote.gif') top left;padding-left:215px;padding-top:70px;font-size:14px;line-height:180%;}
.mnote_error{width:690px;height:200px;background:url('../images/mnote_error.gif') top left;padding-left:215px;padding-top:70px;font-size:14px;line-height:180%;}
.mnote_repeat{width:690px;height:200px;background:url('../images/mnote_repeat.gif') top left;padding-left:215px;padding-top:70px;font-size:14px;line-height:180%;}

.stripe_tb TH {
	background-image: url(../images/hd_row_over_bg.gif);
	BACKGROUND: LINE-HEIGHT: 22px; HEIGHT: 22px;TEXT-ALIGN: left;
	white-space:nowrap;
	TEXT-COLOR: #333333;  
	font-weight:2;
}
.stripe_tb TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: top; PADDING-

TOP: 2px; BORDER-BOTTOM: #95bce2 0px solid; TEXT-ALIGN: left
}
.stripe_tb TD * {
	PADDING-RIGHT: 11px; PADDING-LEFT: 11px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.stripe_tb TR.alt TD {
	BACKGROUND: #f3f6f5
}
PRE {
	BORDER-RIGHT: #666666 0px solid; PADDING-RIGHT: 10px; BORDER-TOP: #666666 0px solid; 

PADDING-LEFT: 10px; BACKGROUND: #efefef; PADDING-BOTTOM: 10px; BORDER-LEFT: #666666 1px solid; 

PADDING-TOP: 10px; BORDER-BOTTOM: #666666 1px solid
}
TABLE.stripe_tp
{
	border:1px;
    width:100%;
    border-color-light:#CCCCCC;
}
.stripe_tp TH {
	background-image: url(../images/toolbar_bg.gif);
	BACKGROUND: LINE-HEIGHT: 23px; HEIGHT: 23px;TEXT-ALIGN: left;
    white-space:nowrap;
    FONT-SIZE: 12px;  
    TEXT-COLOR: #374d64;  
	font-weight:normal;
}
