body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-repeat: repeat-x;
	background-color: #CAFFCE;
}
td,body,div,table{
	font-size: 12px;
	line-height: 18px;
	color: #D2FFD2;
	text-decoration: none;
	}
a:link {
	text-decoration: none;
	color: #EDD7BC;
	font-size: 12px;
	line-height: 18px;
}
a:visited {
	text-decoration: none;
	color: #E7C9A5;
	font-size: 12px;
	line-height: 18px;
}
a:hover {
	text-decoration: underline;
	color: #F8EFE4;
	font-size: 12px;
	line-height: 18px;
}
.22aa:link {
	text-decoration: none;
	color: #ffffff;
	font-size: 12px;
	line-height: 18px;
}
.22aa:visited {
	text-decoration: none;
	color: #ffffff;
	font-size: 12px;
	line-height: 18px;
}
.22aa:hover {
	text-decoration: none;
	color: #FFFF00;
	font-size: 12px;
	line-height: 18px;
}
.bai:link {
	text-decoration: none;
	color: #ffffff;
	font-size: 12px;
	line-height: 18px;
}
.bai:visited {
	text-decoration: none;
	color: #ffffff;
	font-size: 12px;
	line-height: 18px;
}
.bai:hover {
	text-decoration: none;
	color: #FFFF00;
	font-size: 12px;
	line-height: 18px;
}
.hanjianju{
	font-family: "宋体";
	font-size: 12px;
	line-height: 50px;
	color: #006600;
}
.14cu{
	font-family: "宋体";
	font-size: 14px;
	line-height: 50px;
	font-weight: bold;
	color: #FFCC00;
}
.14:link {
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
	font-family: "宋体";
	font-weight: bold;
}
.14:visited {
	text-decoration: none;
	color: #ffffff;
	font-size: 18px;
	line-height: 18px;
}
.14:hover {
	text-decoration: none;
	color: #FFFF00;
	font-size: 18px;
	line-height: 18px;
}
/* 链接颜色 */
a:link {color: #666666; text-decoration:none;}
a:visited {color: #666666;text-decoration:none;}
a:hover {color: #1675cf; text-decoration:none;}
a:active {color: #1675cf;}
.cDGray,a.cDGray:link,a.cDGray:visited{ color: #666;}
.cWhite1,a.cWhite1:link,a.cWhite1:visited{ color:#fff; font-size: 14px;font-weight: bold;}
.cWhite,a.cWhite:link,a.cWhite:visited{ color:#fff;} a.cWhite:hover{ color:#fff; font-size: 14px;font-weight: bold;}
.cDRed,a.cDRed:link,a.cDRed:visited{ color:#ff0001;}
.cYellow,a.cYellow:link,a.cYellow:visited{color:#ff6604;font-size: 14px;font-weight: bold;}
.cYellow1,a.cYellow1:link,a.cYellow1:visited{color:#f59345;}
.cpurple,a.cpurple:link,a.cpurple:visited{color: #510102; letter-spacing: 3px;}
.cBlack,a.cBlack:link,a.cBlack:visited{color:#000; font-weight: bold;}
.cGreen,a.cGreen:link,a.cGreen:visited{color:#18b816;}
.cBlue,a.cBlue:link,a.cBlue:visited{color:#23c9d5;}
.STYLE1 {color: #FFFFFF;font-size: 14px;font-weight: bold;}
.STYLE3 {color: #000000}
.STYLE2 {color: #000;font-size: 14px;font-weight: bold;}
.bg01 {
	background-color:#F0F0F0;
	color: #666666;
}
