.t1 td {background-color:#ffffff;}/* 交替行第一行的背景色 */
.t2 td {background-color:#DDE6EC;}/* 交替行第二行的背景色 */
.t3 td {background-color:lightblue;}/* 鼠标经过时的背景色 */

#tablediv {
	font-size: 12px;
}

#content table {
	font-size: 12px;
	width: 100%;
	border-left: 1px solid #009ED2;
	border-top: 1px solid #009ED2;
}

#content table th {
	border-right: 1px solid #009ED2;
	border-bottom: 1px solid #009ED2;
}

#content table td {
	border-right: 1px solid #009ED2;
	border-bottom: 1px solid #009ED2;
	text-align: left;
}

/*------------------------------------------------------
描述：为所有表单按扭加入背景
-------------------------------------------------------*/
.input_img{
	background-image:url(../images/img_input.jpg);
	border:0;
	FONT-SIZE: 9pt;
	HEIGHT: 20px;
	width: 50px;
	text-align: center;
	padding-top: 4px;
	color:#0D75C4;
}