html {
	overflow: hidden;
}

body {
	overflow: hidden;
	font:12px Arial,Verdana,Tahoma;
	background-color: #ffffff;
	min-width: 230px;
	SCROLLBAR-FACE-COLOR: #59D6FF;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #ffffff;
	SCROLLBAR-3DLIGHT-COLOR: #007BC6;
	SCROLLBAR-DARKSHADOW-COLOR: #007BC6;
	SCROLLBAR-ARROW-COLOR: #007BC6;
	SCROLLBAR-TRACK-COLOR: #009ED2;
}

#topDiv {
	width: 100%;
	height: 120px;
	background-image: url("../../images/common/topbg.png");
}

#tmenu ul {
	list-style: none;
	font-size: 12px;
	width: 100%;
}

#tmenu {
	position: absolute;
	right:10px;
	top:90px;
}


#tmenu a {
	display: block;
	width: 100px;
	height: 25px;
	line-height: 25px;
	font-size: 15px;
	background: url(../../images/common/menu-bg.jpg) repeat-x;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	border: 1px #06597D solid;
}

#tmenu a:hover {
	background: url(../../images/common/menu-bg.jpg) 0px 25px;
	color: #99FFCC;
	text-align: center;
	text-decoration: underline;
}
#admin {
	font-size: 12px;
	background: url(../../images/common/menu-bg.jpg) 0px 25px;
	color: #99FFCC;
}

#hello {
	float: right;
	margin-right: 20px;
	margin-top: 10px;
}