/* 

	TableCloth	
	by Alen Grakalic, brought to you by cssglobe.com
	
*/

/* general styles */

.table2 td2{
	font:100% Arial, Helvetica, sans-serif; 
}
.table2{
	width:100%;border-collapse:collapse;margin:0;
}
.th2{padding:0;border:1px solid #fff;}
.td2{text-align:center;padding:.5em;border:1px solid #fff;}
.th2{background:#32bfa4 url(tr_back.gif) repeat-x;color:#fff;}
.tr2{background:#f8fbfc}

/* tablecloth styles 许海滨第18行，颜色328aa4修改为32bfa4    20110818*/


.th2.over, tr2.even th2.over, tr2.odd th2.over{background:#4a98af;}
.th2.down, tr2.even th2.down, tr2.odd th2.down{background:#bce774;}
.th2.selected, tr2.even th2.selected, tr2.odd th2.selected{}

.td2.over, tr2.even td2.over, tr2.odd td2.over{background:#ecfbd4;}
.td2.down, tr2.even td2.down, tr2.odd td2.down{background:#bce774;color:#fff;}
.td2.selected, tr2.even td2.selected, tr2.odd td2.selected{background:#bce774;color:#555;}

/* use this if you want to apply different styleing to empty table cells
td.empty, tr.odd td.empty, tr.even td.empty{background:#fff;}*/